{#
    Custom template for the contact form.
  #}
  <div class="contact-form-wrapper">
    {{ form.name }}
    {{ form.mail }}
    {{ form.phone_number }}
    {{ form.message }}
    {{ form.actions }}
  </div>
  